extends layout

block content
  h1= title
  p Scientists believe the Earth will be destroyed by celestial phenomena in the next billion years.
  button(type="button", class="btn btn-secondary") Press Me
